<div style="margin: auto; width: 25%">
    <div>
        <h1 class="mt-5 text-center"><u>Inscription</u></h1>
    </div>
    <div class="mt-5 card p-4 z-depth-3">
        <form #register="ngForm" (ngSubmit)="inscription(register.value)">
            <div class="md-form">
                <label>Nom</label>
                <input type="text" ngModel="" name="nom" class="form-control">
            </div>
            <div class="md-form">
                <label>Prenom</label>
                <input type="text" ngModel="" name="prenom" class="form-control">
            </div>
            <div class="md-form">
                <label>Login</label>
                <input type="text" ngModel="" name="login" class="form-control">
            </div>
            <div class="md-form">
                <label>Password</label>
                <input type="password" ngModel="" name="mdp" class="form-control">
            </div>
            <button type="submit" class="btn  btn-block waves-effect">Inscription</button>
        </form>
    </div>
</div>