<div>
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink=""><img class="logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3d/Parents%2C_enfants%2C_famille.png/1142px-Parents%2C_enfants%2C_famille.png"></a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="">Actualités</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="">Arbre généalogique</a>
          </li>
        </ul>

        <form class="form-inline  ml-auto" role="search">
          <div class="md-form">
            <input class="form-control" type="search" id="recherche">
            <label for="recherche">Rechercher</label>
            <button class="btn btn-outline btn-sm" type="submit">Rechercher</button>
          </div>
        </form>

        <div *ngIf="!authService.isConnected()">
          <button class="btn btn-outline-white btn-md my-2 my-sm-0 ml-3" type="submit"
            routerLink='connexion'>Connexion</button>
        </div>

        <div *ngIf="authService.isConnected()">
          <ul class="navbar-nav ">
            <div class="test">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false"><strong>{{authService.getUserConnected().nom}}</strong> {{authService.getUserConnected().prenom}}
                  <i class="fas fa-user"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-default"
                  aria-labelledby="navbarDropdownMenuLink-333">
                  <a routerLink='profil' class="dropdown-item">Mon profil</a>
                  <a routerLink='amis' class="dropdown-item">Mes post</a>
                  <hr class="dropdown-divider">
                  <a (click)="authService.logout()" class="dropdown-item">Se déconnecter</a>
                </div>
              </li>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</div>
<router-outlet></router-outlet>
